@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari, Edge) */
.overflow-y-scroll::-webkit-scrollbar {
    width: 12px;
  }
  
  .overflow-y-scroll::-webkit-scrollbar-track {
    background: #734c4c;
    border-radius: 10px;
  }
  
  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background: #734c4c;
    border-radius: 10px;
  }
  
  .overflow-y-scroll::-webkit-scrollbar-thumb:hover {
    background: #4e3434;
  }
  
  /* For Firefox */
  .overflow-y-scroll {
    scrollbar-width: thin;
    scrollbar-color: #734c4c #f1f1f1;
  }
  